<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie Recommendation</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>

<div style="text-align: center;">
    <h1>Movie Recommendation System</h1>
</div>

<div style="text-align: center;">
    <button onclick="window.location.href='/classic_recommendation'">Classic Recommendation</button>
    <br><br>
    <button onclick="window.location.href='/movie_night'">Movie Night</button>
</div>

</body>
</html>
